/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url("https://fonts.googleapis.com/css?family=Inter:400,700");
:root {

    --black: rgba(0, 0, 0, 1);
    --cerulean: rgba(23, 178, 235, 1);
    --abbey: rgba(79, 79, 79, 1);
    --sonic-silver-2: rgba(117, 117, 117, 0.8);
    --sonic-silver: rgba(117, 117, 117, 1);
    --font-size-xxs: 16px;
    --font-size-xs: 20px;
    --font-size-s: 24px;
    --font-size-m: 25px;
    --font-size-l: 36px;
    --font-size-xl: 60px;
    --font-family-inter: "Inter";
}
/*#region Variables*/
.inter-normal-sonic-silver-25px-2 {
    color: var(--sonic-silver-2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.inter-normal-sonic-silver-16px {
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}

.inter-normal-sonic-silver-25px {
    color: var(--sonic-silver);
    font-family: var(--font family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.inter-normal-white-36px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}

.inter-bold-sonic-silver-60px {
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.inter-normal-sonic-silver-24px {
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}
.inter-normal-sonic-silver-20px {
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}
.inter-normal-abbey-20px {
    color: var(--abbey);
    font-family: var(--font-family=inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}
/*#endregion Variables*/

.container{
    max-width: 1440px !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*#region HomePage*/
.home-page {
    background-color: var(--white);
    border: 1px none;
    height: 1024px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
}

.hidden, .hidden * {
    pointer-events: none;
    visibility: hidden;
}
    
.its-finally-easy-tog
{
    background-color: transparent;
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 102px;
    letter-spacing: 0px;
    line-height: 80px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 139px;
    width: auto;
}

.image-2 {
    background-color: transparent;
    height: 619px;
    left: 738px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 116px;
    width: 615px;
}

.find-the-best-soluti {
    background-color: transparent;
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 102px;
    letter-spacing: 0px;
    line-height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 411px;
    width: auto;
}
.button {
    background-color: transparent;
    cursor: pointer;
    height: 86px;
    left: 105px;
    position: absolute;
    top: 602px;
    width: 315px;
}

.button-content {
    background-color: #17b2eb;
    border: 1px none;
    border-radius: 50px;
    height: 86px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 313px;
}

.button:hover .button-content{
    box-shadow: 5px 10px 18px #888888;
    transition: ease-in-out 200ms;
}

.get-started{
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 60px;
    letter-spacing: 0px;
    line-height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 13px;
    white-space: nowrap;
    width: auto;
}

.nav-bar {
    background-color: transparent;
    border: 1px none;
    height: 127px;
    left: 0px;
    overflow: hidden;
    position: relative;
    top: 0px;
    width: 1440px;
}

.nav-bar a {
    color: var(--sonic-silver);
}

.nav-bar a:hover {
    font-weight: 700;
    text-decoration: none;
}

.ask-specialist {
    background-color: transparent;
    height: auto;
    left: 588px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 62px;
    width: auto;
}

.forum {
    background-color: transparent;
    height: auto;
    left: 778px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 62px;
    width: auto;
}

.login {
    background-color: transparent;
    height: auto;
    left: 1168px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 62px;
    width: auto;
}
.fix-device {
    background-color: transparent;
    height: auto;
    left: 438px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 62px;
    width: auto;
}
.line-1 {
    background-color: transparent;
    height: 1px;
    left: 0px;
    position: absolute;
    top: 126px;
    width: 1440px;
}

.sign-up {
    background-color: @transparent;
    cursor: pointer;
    height: auto;
    left: 1314px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 62px;
    width: auto;
}

.image-1 {
    background-color: transparent;
    height: 65px;
    left: 40px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 31px;
    width: 207px;
}
/*#endregion HomePage*/

/*#region Sign Up Page*/
.sign-up-page {
    background-color: var(--white);
    border: 1px none;
    height: 1024px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
}

.eye {
    background-color: transparent;
    height: 24px;
    left: 894px;
    mix-blend-mode: normal;
    position: absolute;
    top: 347px;
    width: 24px;
}

.become-a-it-specialist {
    background-color: transparent;
    height: auto;
    left: 561px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 424px;
    width: auto;
}

.back-button {
    background-color: transparent;
    border: 1px none;
    height: 29px;
    left: 48px;
    position: absolute;
    top: 788px;
    width: 183px;
}

.back-button:hover .back-button-icon, 
.back-button:hover .back-text {
    transform: translateX(-10px);
    transition: ease-in-out 200ms;
    font-weight: 700;
}

.back-button-content {
    background-color: transparent;
    cursor: pointer;
    height: 29px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 116px;
}

.back-text {
    background-color: transparent;
    color: var(--sonic-silver);
    font-family:var(--font-family-inter);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight:400;
    height: auto;
    left: 47px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: auto;
}
.back-button-icon {
    background-color: transparent;
    height: 24px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 3px;
    width: 35px;
}
.credentials-password{
    background-color: transparent;
    border: 1px none;
    height: 84px;
    left: 508px;
    overflow: hidden;
    position: absolute;
    top: 305px;
    width: 420px;
}

.password {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: -1px;
    width: auto;
}

.line-2-password {
    background-color: transparent;
    height: 2px;
    left: 2px;
    position: absolute;
    top: 82px;
    width: 418px;
}
.password-content {
    border: none;
    outline: none;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    width: 370px;
    top: 38px;
    position: absolute;
}
.sign-up-button-content {
    background-color: transparent;
    cursor: pointer;
    height: 86px;
    left: 570px;
    position: absolute;
    top: 495px;
    width: 308px;
}

.sign-up-button-content:hover .sign-up-button {
    box-shadow: 5px 10px 18px #888888;
    transition: ease-in-out 200ms;
}

.sign-up-text {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 83px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 19px;
    width: 134px;
}
.sign-up-button {
    background-color: #17b2eb;
    border: 1px none;
    border-radius: 58px;
    height: 86px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 298px;
}

.credentials-email {
    background-color: transparent;
    border: 1px none;
    height: 84px;
    left: 508px;
    overflow: hidden;
    position: absolute;
    top: 151px;
    width: 420px;
}
.line-2-email {
    background-color: transparent;
    height: 2px;
    left: 2px;
    position: absolute;
    top: 82px;
    width: 418px;
}
.email {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: -1px;
    width: auto;
}
.email-content {
    border: none;
    outline: none;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    width: 420px;
    top: 38px;
    position: absolute;
}

.check-box-content {
    background-color: transparent;
    border: 1px none;
    height: 275px;
    left: 460px;
    overflow: hidden;
    position: absolute;
    top: 425px;
    width: 528px;
}

.check-box {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    height: 24px;
    left: 51px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 24px;
}

.check-mark {
    background-color: transparent;
    height: 24px;
    left: -1px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 24px;
}

.after-signing-up-you {
    background-color: transparent;
    color: transparent;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-Xs);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 192px;
    width: 520px;
}
/*#endregion Sign Up Page*/

/*#region Login Page*/
.login-button-content {
    background-color: transparent;
    cursor: pointer;
    height: 86px;
    left: 570px;
    position: absolute;
    top: 450px;
    width: 308px;
}

.login-button-content:hover .login-button {
    box-shadow: 5px 10px 18px #888888;
    transition: ease-in-out 200ms;
}

.login-text {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 83px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 19px;
    width: 134px;
}

.login-button {
    background-color: #17b2eb;
    border: 1px none;
    border-radius: 58px;
    height: 86px;
    left: 32px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 235px;
}
/*#endregion Login Page*/

/*#region Device Category*/
.devicecategory {
    background-color: var(--white);
    border: 1px none;
    height: 1024px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
}

.what-type-of-device-to-fix {
    background-color: transparent;
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 329px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 149px;
    width: auto;
}

.mobile-img {
    background-color: transparent;
    cursor: pointer;
    height: 114px;
    left: 298px;
    mix-blend-mode: normal;
    position: absolute;
    top: 331px;
    width: 114px;
}

.mobile-text {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 317px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 478px;
    width: auto;
}

.mobile-img:hover ~ .mobile-text, .mobile-text:hover {
    font-weight:700;
}

.laptop-img {
    background-color: transparent;
    cursor: pointer;
    height: 126px;
    left: 537px;
    mix-blend-mode: normal;
    position: absolute;
    top: 325px;
    width: 126px;
}

.laptop-text {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 560px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 478px;
    width: auto;
}

.laptop-img:hover ~ .laptop-text, .laptop-text:hover {
    font-weight:700;
}

.printer-img {
    background-color: transparent;
    cursor: pointer;
    height: 120px;
    left: 784px;
    mix-blend-mode: normal;
    position: absolute;
    top: 328px;
    width: 120px;
}

.printer-text {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 806px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 478px;
    width: auto;
}

.printer-img:hover ~ .printer-text, .printer-text:hover {
    font-weight:700;
}

.homeappliance-img {
    background-color: transparent;
    cursor: pointer;
    height: 120px;
    left: 1028px;
    mix-blend-mode: normal;
    position: absolute;
    top: 331px;
    width: 120px;
}

.home-appliances-text {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 989px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 478px;
    width: auto;
}

.homeappliance-img:hover ~ .home-appliances-text, .home-appliances-text:hover {
    font-weight:700;
}

.or-search-other-topics {
    background-color: transparent;
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 562px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 659px;
    width: auto;
}

.search-bar {
    background-color: transparent;
    border: 1px none; 
    height: 72px;
    left: 479px;
    position: absolute;
    top: 720px;
    width: 482px;
}

.search-bar-content {
    background-color: transparent;
    height: 72px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 484px;
}

.device-search-img {
    background-color: transparent;
    height: 48px;
    left: 414px;
    mix-blend-mode: normal;
    position: absolute;
    top: 12px;
    width: 48px;
}

.search-bar-border{
    background-color: var(--white);
    border: 2px solid;
    border-color: var(--sonic-silver);
    border-radius: 60px;
    height: 72px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 482px;
}

.search-text {
    background-color: transparent;
    height: auto;
    left: 45px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 21px;
    width: auto;
}

.devicecategory .back-button {
    background-color: transparent;
    border: 1px none;
    height: 29px;
    left: 40px;
    position: absolute;
    top: 847px;
    width: 103px;
}

/*#endregion Device Category*/

/*#region Brand Category*/
.brand {
    background-color: var(--white);
    border: 1px none;
    height: 1024px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: 1440px;
}

.brand::-webkit-scrollbar {
    display: none;
    width: 0;
}

.what-brand-is-your-device {
    background-color: transparent;
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 321px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 149px;
    width: auto;
}

.enter-the-brand-of-your-device {
    background-color: transparent;
    color: #757575cc;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 363px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 320px;
    width: auto;
}

.brand-search-imgbox {
    background-color: transparent;
    border: 1px none;
    height: 48px;
    left: 293px;
    mix-blend-mode: normal;
    position: absolute;
    top: 308px;
    width: 48px;
}

.brand-search-img {
    background-color: transparent;
    height: 39px;
    left: 4px;
    mix-blend-mode: normal;
    position: absolute;
    top: 9px;
    width: 39px;
}

.brand-search-bar {
    border: none;
    outline: none;
    width: 550px;
    position: absolute;
}

.line-6 {
    background-color: transparent;
    height: 3px;
    left: 293px;
    position: absolute;
    top: 372px;
    width: 626px;
}

.brand-next {
    background-color: transparent;
    cursor: pointer;
    height: 86px;
    left: 959px;
    position: absolute;
    top: 289px;
    width: 190px;
}

.brand-next button:focus {
    outline: none !important;
}

.brand-next-content {
    background-color: #17b2eb;
    border: 1px none;
    border-radius: 50px;
    height: 86px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 188px;
}

.brand-next-content:hover {
    box-shadow: 5px 10px 18px #888888;
    transition: ease-in-out 200ms;
}

.brand-next-text {
    background-color: transparent;
    color: var(--white);
    font-family: var (--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 52px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 19px;
    width: 85px;
}

.example {
    background-color: transparent;
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxs);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 363px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 401px;
    width: auto;
}

.samsung {
    background-color: transparent;
    height: auto;
    left: 363px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 444px;
    width: auto;
}

.iphone {
    background-color: transparent;
    height: auto;
    left: 363px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 491px;
    width: auto;
}

.xiaomi {
    background-color: transparent;
    height: auto;
    left: 363px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 538px;
    width: auto;
}

.huawei {
    background-color: transparent;
    height: auto;
    left: 363px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 585px;
    width: auto;
}

.brand-result {
    top: 896px;
    position: absolute;
}

.brand-result-content {
    top: 105px;
    left: 223px;
    width: 994px;
    bottom: 0;
    position: absolute;
}

.result-title {
    background-color: transparent;
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    top: 30px;
    width: 1440px;
    text-align: center;
    position: relative;
}

.space {
    padding-bottom: 200px;
}


.brand-card-container {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 60px;
    left: 50px;
    width: 894px;
}

.brand-card {
    padding: 0px 14px 14px 0px !important;
    height: 88px;
    width: 50%;
}

.brand-card:hover {
    text-decoration: none;
}

.brand-card-body {
    background-color: transparent;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid var(--sonic-silver);
    border-radius: 12px;
    margin-bottom: 3rem !important;
    cursor: pointer;
}

.brand-card-body:hover {
    border-width: 2px;
}

.brand-card-body-content {
    font-family: var(--font-family-inter);
    color: var(--sonic-silver);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.brand-card-icon{
    height: 42px;
    padding-left: 5px;
    padding-right: 25px;
}
.brand-card-title {
    font-weight: 700;
    font-size: var(--font-size-m);
    text-align: left;
}

/*#endregion Brand Category*/
/*#region Fix Category*/
.issuecategory {
    background-color: var(--white);
    border: 1px none;
    height: 1024px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: 1440px;
}

.issuecategory::-webkit-scrollbar {
    display: none;
    width: 0;
}

.issuecategory .back-button {
    background-color: transparent;
    border: 1px none;
    height: 29px;
    left: 40px;
    position: absolute;
    top: 847px;
    width: 103px;
}
.i-want-to-fix {
    background-color: transparent; 
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl); 
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 524px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 149px;
    width: auto;
}

.selection {
    background-color: transparent;
    height: 180px;
    left: 302px;
    position: absolute;
    top: 328px;
    width: 853px;
}
.display {
    background-color: transparent;
    pointer-events: none;
    border: 1px none;
    height: 107px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 6px;
    width: 107px;
}

.display-icon {
    background-color: transparent;
    pointer-events: auto;
    cursor: pointer;
    height: 98px;
    left: 22px;
    mix-blend-mode: normal;
    position: absolute;
    top: 4px;
    width: 62px;
}

.display-text {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 12px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 151px;
    width: auto;
}

.display:hover ~ .display-text, .display-text:hover {
    font-weight: 700;
}

.battery {
    background-color: transparent;
    pointer-events: none;
    border: 1px none;
    cursor: pointer;
    height: 119px;
    left: 239px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 119px;
}

.battery-icon {
    background-color: transparent;
    pointer-events: auto;
    cursor: pointer;
    height: 60px;
    left: 5px;
    mix-blend-mode: normal;
    position: absolute;
    top: 30px;
    width: 109px;
}

.battery-text {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 256px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 151px;
    width: auto;
}

.battery:hover ~ .battery-text, .battery-text:hover {
    font-weight: 700;
}

.fixpassword {
    background-color: transparent;
    pointer-events: none;
    border: 1px none;
    height: 108px;
    left: 486px;
    mix-blend-mode: normal;
    position: absolute;
    top: 5px;
    width: 108px;
}

.fixpassword-icon {
    background-color: transparent;
    pointer-events: auto;
    cursor: pointer;
    height: 99px;
    left: 14px;
    mix-blend-mode: normal;
    position: absolute;
    top: 4px;
    width: 81px;
}

.fixpassword-text {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 486px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 151px;
    width: auto;
}

.fixpassword:hover ~ .fixpassword-text, .fixpassword-text:hover {
    font-weight: 700;
}

.camera {
    background-color: transparent;
    pointer-events: none;
    border: 1px none;
    height: 119px;
    left: 726px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 119px;
}

.camera-icon {
    background-color: transparent;
    pointer-events: auto;
    cursor: pointer;
    height: 89px;
    left: 5px;
    mix-blend-mode: normal;
    position: absolute;
    top: 15px;
    width: 109px;
}

.camera-text {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 741px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 151px;
    width: auto;
}

.camera:hover ~ .camera-text, .camera-text:hover {
    font-weight: 700;
}

.search-bar-type {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    border: none;
    outline: none;
    top: 15px;
    left:41px;
    width: 360px;
    position: absolute;
}

.search-bar-button {
    background-color: transparent;
    border:none;
    height: 48px;
    left: 414px;
    mix-blend-mode: normal;
    position: absolute;
    top: 12px;
    width: 48px;
}

.search-bar-img {
    position: relative;
    top: -1px;
    left: -6px;
}

.result-divider {
    background-color: transparent;
    height: 1px;
    left: 200px;
    position: absolute;
    top: 0px;
    width: 1040px;
}

.search-result {
    width: 1440px;
    top: 955px;
    position: absolute;
}

.search-result-content {
    position: relative;
    left: 302px;
    top: 70px;
    width: 853px;
}
/*#endregion Fix Category*/

/*#region Solution*/
.solution {
    background-color: var(--white);
    border: 1px none;
    height: 1024px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
}

.solution-content {
    background-color: transparent;
    border: 1px none;
    height: 815px;
    left: 223px;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 95px;
    width: 994px;
}

.solution-content::-webkit-scrollbar {
    display: none;
    width: 0;
}

.solution-title {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 56px;
    width: 944px;
}

.fix-title {
    background-color: transparent;
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 153px;
    width: 944px;
}

.solution-divider {
    height: 1px;
    left: 0px;
    position: relative;
    top: 241px;
    width: 994px;
}

.solution-card-container {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 278px;
    left: 50px;
    width: 894px;
}

.solution-card {
    padding: 0px 14px 14px 0px !important;
    height: auto;
    width: 50%;
}

.solution-card-body {
    background-color: transparent;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid var(--sonic-silver);
    border-radius: 12px;
    margin-bottom: 3rem !important;
    cursor: pointer;
}

.solution-card-body:hover {
    border-width: 2px;
}

.solution-card-body-content {
    font-family: var(--font-family-inter);
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.solution-card-title {
    font-weight: 700;
    padding-bottom: 20px;
}
/*#endregion Solution*/

/*#region Post Question*/
.post-question-button-content {
    background-color: transparent;
    cursor: pointer;
    height: 86px;
    left: 900px;
    position: absolute;
    top: 1100px;
    width: 308px;
}

.post-question-button-content:hover .post-question-button {
    box-shadow: 5px 10px 18px #888888;
    transition: ease-in-out 200ms;
}

.post-question-text {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 47px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 182px;
}

.post-question-button {
    background-color: #17b2eb;
    border: 1px none;
    border-radius: 58px;
    height: 66px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 269px;
}

/*#endregion Post Question*/