<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITWorks_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ITWorks</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Fix Device</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Ask Specialist</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <div class="container">
        <main role="main" class="pb-3">
            <div class="nav-bar-xVxyAW">
                <img class="line-1-EWYZ0Y" src="~/img/line-1.svg" alt="Line 1" />
                <a class="navbar-brand" asp-area="" asp-controller="HomePage" asp-action="Index">
                    <img class="image-1-EWYZ0Y"
                         src="~/img/image-1.png"
                         alt="image 1" />
                    </a>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="fix-device-EWYZ0Y inter-normal-abbey-20px">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                Fix Device
                            </a>
                        </li>
                        <li class="ask-specialist-EWYZ0Y inter-normal-abbey-20px">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                Ask Specialist
                            </a>
                        </li>
                        <li class="login-EWYZ0Y inter-normal-abbey-20px">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                Login
                            </a>
                        </li>
                        <li class="sign-up-EWYZ0Y inter-normal-abbey-20px">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                Sign Up
                            </a>
                        </li>
                    </ul>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ITWorks_Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
