<div class="container mt-4 pt-3">

    <a class="card-link" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Click here to Comment
    </a>
    @using (Html.BeginForm("Post", "ForumQuestion", FormMethod.Post))
    {
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="form-group">
                    @Html.TextArea("CommentContent", ViewBag.SearchValue as string, new { @class = "form-control", rows = "2", placeholder = "Comment Here...", autocomplete = "off" })
                </div>
                <button type="submit" class="btn btn-primary mb-2">Post Comment</button>
            </div>
        </div>
    }


</div>
