@{
    ViewData["Title"] = "Device Category";
}

<div class="devicecategory screen">
    <img class="mobile-img" src="~/img/mobile.svg" alt="24 / gadgets / mobile" />
    <img class="laptop-img" src="~/img/laptop.svg" alt="24 / gadgets / laptop" />
    <img class="printer-img" src="~/img/printer.svg" alt="24 / basic / printer" />
    <img class="homeappliance-img" src="~/img/homeappliance.svg" alt="24 / shopping / pos" />

    <div class="laptop-text inter-normal-sonic-silver-24px">Laptop</div>
    <div class="printer-text inter-normal-sonic-silver-24px">Printer</div>
    <div class="home-appliances-text inter-normal-sonic-silver-24px">Home Appliances</div>
    <div class="mobile-text inter-normal-sonic-silver-24px">Mobile</div>
    <div class="what-type-of-device-to-fix">What type of device to fix?</div>
    <div class="or-search-other-topics">Or search other topics</div>
    <div class="search-bar">
        <div class="search-bar-content">
            <div class="search-bar-border"></div>
            <img class="search-img" src="~/img/search.svg" alt="24 / basic / search" />
            <div class="search-text inter-normal-sonic-silver-24px">Search Topics</div>
        </div>
    </div>
    <div class="back-button">
        <div class="back-button-content" onclick="history.back()">
            <img class="back-button-icon" src="~/img/back-button-1.svg" alt="Back Button" />
            <div class="back-text">Back</div>
        </div>
    </div>
</div>