@{
    ViewData["Title"] = "Sign Up Page";
}

<div class="sign-up-page screen">
    <div class="credentials-email">
        <div class="email inter-normal-sonic-silver-20px">Email</div>
        @Html.TextBox("email", ViewBag.SearchValue as string, new { @class = "email-content", autocomplete = "off" })
        <img class="line-2-email" src="~/img/line-2.svg" />
    </div>
    <div class="credentials-password">
        <div class="password inter-normal-sonic-silver-20px">Password</div>
        @Html.TextBox("password", ViewBag.SearchValue as string, new { @class = "password-content", autocomplete = "off", type = "password" })
        <img class="line-2-password" src="~/img/line-2.svg"/>
    </div>
    <img class="eye" src="~/img/eye.svg" id="togglePassword" />
    <div class="become-a-it-specialist inter-normal-sonic-silver-20px">Become a IT Specialist</div>
    <div class="back-button">
        <a class="back-button-content" asp-area="" asp-controller="HomePage" asp-action="Index" >
            <img class="back-button-icon" src="~/img/back-button-1.svg"/>
            <div class="back-text">Home</div>
        </a>
    </div>

    <div class="check-box-content">
        <div class="after-signing-up-you" >
                After signing up, you will receive a email with instructions on how to
                be verified as an IT personnel
        </div>
        <input type="checkbox" class="check-box" name="IT Specialist"  value="IT Specialist"/>
            @*<img class="check-mark" src="~/img/check-mark.svg" />*@
        
        
    </div>
    <a class="sign-up-button-content" asp-controller="SignUp" asp-action="Welcome">
        <div class="sign-up-button"></div>
        <div class="sign-up-text">Sign Up</div>
    </a>
</div>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('.password-content');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
    });
</script>