@{
    ViewData["Title"] = "Sign Up Page";
}

<div class="sign-up-page screen">
    <div class="credentials-email">
        <div class="email inter-normal-sonic-silver-20px">Email</div>
        <img class="line-2-email" src="~/img/line-2.svg" alt="Line 2" />
    </div>
    <div class="credentials-password">
        <div class="password inter-normal-sonic-silver-20px">Password</div>
        <img class="line-2-password" src="~/img/line-2.svg" alt="Line 2" />
    </div>
    <img class="eye" src="~/img/eye.svg" alt="24 / basic / eye" />
    <div class="become-a-it-specialist inter-normal-sonic-silver-20px">Become a IT Specialist</div>
    <div class="back-button">
        <div class="back-button-content">
            <img class="back-button-icon" src="~/img/back-button-1.svg" alt="Back Button"/>
            <div class="back-text">Home</div>
        </div>
    </div>

    <div class="check-box-content">
        <div class="after-signing-up-you" >
                After signing up, you will receive a email with instructions on how to
                be verified as an IT personnel
        </div>
        <div class="check-box"></div>
        <img class="check-mark" src="~/img/check-mark.svg" alt="24 / basic / check-mark" />
    </div>
    <div class="sign-up-button-content">
        <div class="sign-up-button"></div>
        <div class="sign-up-text">Sign Up</div>
    </div>
</div>
