@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-page screen">
    <div class="welcome-text">Welcome to ITWorks!</div>
    <div class="welcome-subtext">We are glad to have you!</div>
    <a class="back-to-homepage-button-content" asp-controller="HomePage" asp-action="Index">
        <div class="back-to-homepage-button"></div>
        <div class="back-to-homepage-text">Back to Home Page</div>
    </a>
</div>