@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page screen">
<img class="image-2" src="~/img/image-2.png" alt="image 2" />
<div class="its-finally-easy-tog">
    It's finally easy to<br />get your
    devices fixed<br />the right way. </div>
    <div class="find-the-best-soluti">
        Find the best solutions, <br/>by a
        few simple clicks.
    </div>
    <div class="group-1">
        <div class="button"></div>
            <div class="get-started">Get Started</div>
    </div>
</div>