@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page screen">
<img class="image-2-xVxyAW" src="~/img/image-2.png" alt="image 2" />
<div class="its-finally-easy-tog-xVxyAW">
    It's finally easy to<br />get your
    devices fixed<br />the right way. </div>
    <div class="find-the-best-soluti-xVxyAW">
        Find the best solutions, <br/>by a
        few simple clicks.
    </div>
    <div class="group-1-xVxyAW">
        <div class="button-u1NoIv"></div>
            <div class="get-started-u1Nolv">Get Started</div>
    </div>
</div>